*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border: none;
    overflow: hidden;
}

@keyframes mudarCor{
    0%{
        background: rgb(54, 178, 220);
    }
    24%{
        background: rgb(110, 232, 110);
    }
    49%{
        background:lightsalmon;
    }

    74%{
        background: rgb(233, 59, 59);
    }
    99%{
        background: rgb(54, 178, 220);
    }
}

body{
    background: rgb(54, 178, 220);
    animation-name: mudarCor;
    animation-timing-function:linear;
    animation-duration: 10s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    
}

h1{
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
    color:white;
    background-color: black;
    display:block;
    max-width:400px;
}
.container{
    width:60vw;
    min-height: 60vh;
    border-radius: 10px;
    margin:75px auto 0;
    padding:20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width:50%;
}

form input{
    padding:20px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    border:1px solid rgba(0, 0, 0, 0.44);
    border-radius: 8px;
    transition: background .4s ease;
}

form input:focus{
    background: rgba(128, 0, 128, 0.501);
    color:rgb(255, 255, 255);
}

button{
    background-image: linear-gradient(to right, aqua, rgba(0, 255, 255, 0.145), aqua);
    background-position: left;
    background-size: 150%;
    width:50%;
    margin:auto;
    padding:10px 0;
    border:2px solid aqua;
    font-size:1em;
    font-weight: 600;
    color:rgb(70, 69, 69);
    margin-top:30px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .4s cubic-bezier(0.165, 0.84, 0.44, 1);
   
}

button:hover{
    background-position: right;
    background-size: 150%;
}

#resultado{
    width:90%;
    min-height:100px;
    margin:20px 5% 0; 
    padding:15px;
    background: white;
    opacity: 0;
    color:white;
    display: flex;
    align-items: center;
    justify-content: left;
    padding:5px;
    font-size:2em;
    border-radius:8px;
    transition:all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
}

section#resultado.verde{
    background: rgb(3, 250, 143);
    color:rgb(3, 41, 13);
    opacity: 1;
    
}

section#resultado.amarelo{
    background:yellow;
    color:rgb(3, 41, 13);
    opacity:1;
}

section#resultado.laranja{
    background:orange;
    color:rgb(3, 41, 13);
    opacity: 1;
}

section#resultado.vermelho{
    background: rgb(252, 48, 2);
    color:rgb(114, 0, 0);
    opacity:1;
    
}

@media screen and (max-width:900px) {

    h1{
        width:60%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    body{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        width:90%;
        margin:20px 0 0;
        padding:10px;
    }

    button{
    
        width:80%;
        padding:30px;
    }
}